<div class="container-fluid" >
  <div class="row">
    <div class="col-12">
      <div class="editForm">
        <h1>Edición de lo datos personales</h1>
        <form action="" [formGroup]="formEdit" (ngSubmit)="onSave()">
          <label class="form-label">Nombre y Apellido</label>
          <input type="text" formControlName="nameSurname" class="form-control">

          <label class="form-label">Ubicación</label>
          <input type="text" formControlName="location" class="form-control">

          <label class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control">

          <label class="form-label">Posición Laboral</label>
          <input type="text" formControlName="profession" class="form-control">

          <label class="form-label">Descripción</label>
          <textarea formControlName="description" class="form-control" cols="30" rows="5"></textarea>

          <label class="form-label">Url de la imagen</label>
          <input type="text" formControlName="imageLink" class="form-control">

          <div class="botonera">
            <button type="submit" class="btn btn-success" style="margin-right: 6px">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
