<div class="">
    <div class="experienciaContainer">
      <div class="sectionTitle">
        <h2>Experiencia</h2>
        <button href="#" class="btn btn-primary" title="Agregar nueva experiencia" *ngIf="user" (click)="onClickCreateExp()"><i class="fa fa-plus"></i></button>
      </div>
      <div>
        <div class="items-list">
          <div *ngFor=" let expItem of experienciaList" class="itemExp">
            <div class="puesto row" id="experiencia-{{expItem.id}}">
              <div class="col-xs-12 col-md-4 col-lg-2">
                <img src="{{expItem.photoUrl}}" class="img-thumbnail rounded float-start imgExp">
              </div>
              <div class="col-xs-12 col-md-8 col-lg-10">
                <div class="titleAndButtonsContainer">
                  <h3>{{expItem.title}} {{expItem.date}}</h3>
                  <div>
                    <button href="#" class="btn btn-sm btn-info" style="margin-right: 6px" title="Editar" *ngIf="user" (click)="onEditar(expItem.id)"><i class="fa fa-edit"></i></button>
                    <button href="#" class="btn btn-sm btn-danger" title="Eliminar" *ngIf="user" (click)="onDelete(expItem.id, expItem.title)"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
                <p>{{expItem.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
