<div class="experienciaContainer">
    <h2>Experiencia</h2>
    <div class="puesto row">
      <div class="col-xs-12 col-md-4 col-lg-2">
          <img src="https://static.wixstatic.com/media/9322b7_9c0d93a55e864c158bce00f3430c457c~mv2.jpg/v1/crop/x_23,y_4,w_539,h_539/fill/w_539,h_538,al_c,q_80,enc_auto/peras%20de%20olmo%20blanco%20sobre%20negro_300dpi%20.jpg" class="img-thumbnail rounded float-start imgExp" alt="logoPerasDeOlmo">
      </div>
      <div class="col-xs-12 col-md-8 col-lg-10">
          <h3> Comunity Manager (2017-presente)</h3>
          <p>Asistente en los diversos proyectos artísticos y culturales
            del espacio que incluyen: encargada del sector audiovisual(edición de video, fotografía y
            filmación de los eventos, planificación audiovisual y busqueda de asistentes) y
            encargada de la gestión de las páginas oficiales del espacio y proyectos particulares
          </p>
      </div>
    </div>
    <div class="puesto row">
        <div class="col-xs-12 col-md-4 col-lg-2">
            <img src="https://img.freepik.com/vector-premium/icono-edicion-fotogramas-clave-vector-ilustracion-concepto-editor-video-hombre-que-hace-animacion-frente_146120-403.jpg?w=2000" class="img-thumbnail rounded float-start imgExp" alt="imagenEdicion">
        </div>
        <div class="col-xs-12 col-md-8 col-lg-10">
            <h3>Editora freelance (2015-presente)</h3>
            <p>Editora de distintos proyectos comerciales y artísticos</p>
        </div>
    </div>
    <div class="puesto row">
      <div class="col-xs-12 col-md-4 col-lg-2">
          <img src="https://scontent.faep26-1.fna.fbcdn.net/v/t39.30808-6/327290979_854002345867690_7340857116475155120_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0XylilcpfSoAX_Ayrbx&_nc_ht=scontent.faep26-1.fna&oh=00_AfCS8yJP-xx3AsFlvQeXq1r9uZOjfUGVzwds_6QIKZtoPQ&oe=6466A325" class="img-thumbnail rounded float-start imgExp" alt="logoFestivalUshuaia">
      </div>
      <div class="col-xs-12 col-md-8 col-lg-10">
          <h3>Ayudante de comunity manager (2013)</h3>
          <p>A cargo de la edición de conciertos, imagenes para redes
            y asistencia técnica en la grabación en vivo de los conciertos
          del Festival Internacional de Ushaia</p>
      </div>
    </div>
</div>



