.puesto {
  margin-top: 24px;
}

.imgExp {
  width: 200px;
}

.sectionTitle, .titleAndButtonsContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .editData{
    top: 17%;
  }
}
