
.portfolioBody {
  background: rgb(62,29,75) !important;
  background: linear-gradient(0deg, rgba(62,29,75,1) 0%, rgba(30,52,77,1) 100%) !important;

  column-rule-color: aliceblue !important;
}

.mainContainer {
  color: aliceblue;
  position: relative;

}

.banner {
  height: 500px;
  overflow: hidden;
  position: absolute;
  border-radius: 24px;
  margin-left: 12px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}


.editData {
  display: flex;
  position: absolute;
  z-index: 10;
  left:70%;
  top: 2%;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.editData:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.editData:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .editData {
    padding: 16px 48px;
  }
}




@media (max-width: 575px) {
  .banner {
    height: 380px;
  }
}
