<div class="container-fluid" >
  <div class="row">
    <div class="col-12">
      <div class="editForm">
        <h1>Edxperiencias laborales</h1>
        <form action="" [formGroup]="formEdit" (ngSubmit)="onSave()">
          <label class="form-label">Título / Puesto</label>
          <input type="text" formControlName="title" class="form-control">

          <label class="form-label">Años</label>
          <input type="text" formControlName="date" class="form-control">

          <label class="form-label">Descripción del puesto</label>
          <textarea formControlName="description" class="form-control" cols="30" rows="5"></textarea>

          <label class="form-label">Url logo del lugar</label>
          <input type="text" formControlName="photoUrl" class="form-control">

          <div class="botonera">
            <button type="submit" class="btn btn-success" style="margin-right: 6px">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

