
<div>
  <div class="proyectosContainer">
    <div class="sectionTitle">
      <h2>Proyectos</h2>
    </div>
    <div>
      <div class="items-list">
        <div *ngFor=" let proItem of proyectosList" class="itemPro">
          <div class="puesto row">
            <div class="col-xs-12 col-md-4 col-lg-2">
              <a href="{{proItem.projectUrl}}">
                <img src="{{proItem.imageUrl}}" class="img-thumbnail rounded float-start imgExp">
              </a>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-10">
              <div class="titleAndButtonsContainer">
                <h3>{{proItem.title}} {{proItem.date}}</h3>
              </div>
              <p>{{proItem.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>






<!--
  <div class="proyecto row">
      <div class="col-sx-12 col-md-4 col-lg-4 projects">
        <a href="https://www.introduccionalaprogramacion.com.ar/tps2c2021/grupo07/oscar.html">
       <img src="https://www.introduccionalaprogramacion.com.ar/img/tps2c2021/grupo07.jpg" class="img-thumbnail rounded float-start" alt="poster-juegoOvejaOscar" > </a>
      </div>
      <div class="col-sx-12 col-md-8 col-lg-8">
        <h3>La Oveja Oscar (2021)</h3>
        <p>Proyecto final para la materia optativa <a href="https://www.introduccionalaprogramacion.com.ar/index.html">Introducción a la programación</a>
          de la carrera DIyS (UBA) cuyo proyecto final era diseñar y desarrollar una videojuego
          con javascript y canvas html5. Con nuestro grupo desarrollamos el juego en base al TikTok
          de la oveja Oscar que se hizo viral durante la pandemia  </p>
      </div>
    </div>

    <div class="proyecto row">
      <div class="col-sx-12 col-md-4 col-lg-4 projects">
        <a href="http://www.dgpc.com.ar/acumar/coopagromarcospaz/vm19/webapp/index.html#slide1">
       <img src="http://www.dgpc.com.ar/acumar/coopagromarcospaz/vm19/poster.jpg" class="img-thumbnail rounded float-start" alt="poster-huertaEsperanza" > </a>
      </div>
      <div class="col-sx-12 col-md-8 col-lg-8">
        <h3>Huerta La Esperanza (2020)</h3>
        <p>Proyecto final para la materia optativa <a href="http://www.dgpc.com.ar/index.php">dgpc</a>
          de la carrera DIyS y DG (UBA) cuyo objetivo era diseñar y desarrollar una aplicación web
          para proyectos de ayuda a la comunidad de la zona. Con nuestro grupo desarrollamos el trabajo
          con la huerta agroecológica La Esperanza, ubicada en Marcos Paz</p>
      </div>
    </div>
-->
