
  <div class="row acercaDeContainer">

    <div  class="col-xs-12 col-sm-6 col-lg-6 contacto">
      <img class="img-fluid fotoPerfil" src="../../../assets/img/fotoPerfil-malenOL.jpeg"
      alt="Malen Ovejero L">

      <h1> Malen Ovejero Lanzavecchia</h1>
      <span>Buenos Aires(Argentina)</span>
      <span> male.ovej@gmail.com</span>
    </div>


    <div class="col-xs-12 col-sm-6 col-lg-6 info-about">
      <h2> Full Stack Developer Jr.</h2>
      <p> Profesional interesada en la tecnología y en el desarrollo de nuevas habilidades en el campo de la programación. Mi formación universitaria en la carrera Diseño de Imagen y Sonido (UBA) y mis experiencias en el medio audiovisual me han permitido adquirir habilidades técnicas, de gestión y trabajo en equipo. En esta nueva migracón profesional mi objetivo es seguir ampliando y aplicando mis conocimientos en proyectos que ayuden a mi crecimiento como Desarrolladora Full Stack</p>
    </div>

  </div>







