<div class="seccionEducacion">
    <h2>Educación</h2>

    <div class="educacion row">
        <div class="col-xs-12 col-md-4 col-lg-2">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/6361043.546c272b94789.jpg" class="img-thumbnail rounded float-start imgEdu" alt="logoFADU">
        </div>
        <div class="col-xs-12 col-md-8 col-lg-10">
            <h3>Diseñadora de imagen y Sonido</h3>
            <p> Estudios centrados en los medios audiovisuales integrando todos los
              elementos que participan del proceso de organización proyectual
              y producción de su discurso</p>
        </div>
    </div>
    <div class="educacion row">
        <div class="col-xs-12 col-md-4 col-lg-2">
          <img src="https://cdn1.vc4a.com/media/2021/01/Blanco-horizontal-01-900x322.jpg" class="img-thumbnail rounded float-start imgEdu" alt="logoAdaSchool">
      </div>

      <div class='col-xs-12 col-md-8 col-lg-10'>
          <h3>Fundamentos Desarrollo Web (2022)</h3>
          <p>Curso dictado por Ada School para mujeres y disidencias,
            donde fui una de las 50 becadas donde aprendimos Js, Css, HTML y
            conceptos de Scrum y organización</p>
      </div>
    </div>
    <div class="educacion row">
      <div class="col-xs-12 col-md-4 col-lg-2">
        <img src="https://www.economia.gob.ar/argentinaprograma/logo-blanco-vertical.png" class="img-thumbnail rounded float-start imgEdu" alt="logoArgentinaPrograma">
    </div>

    <div class="col-xs-12 col-md-8 col-lg-10">
        <h3>#SéProgramar (2022)</h3>
        <p>Primer etapa del plan Argentina Programa. Fase introductoria
          sobre los fundamentos básicos de la programación</p>
    </div>
    </div>

</div>
