.educacionContainer {
  margin-top: 36px;
}

.educacion {
  margin-top: 24px;
}

.imgEdu {
  width: 200px;
}

.sectionTitle, .titleAndButtonsContainer {
  display: flex;
  justify-content: space-between;
}
