
<div class="skillsContainer">
  <div class="row">
    <h2>Skills</h2>

        <div class="slider">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png" alt="logo-Html">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="logo-Css">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png" alt="logo-bootstrap">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="logo-JavaScript">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png" alt="logo-TypeScript">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" alt="logo-Angular">
            <img class="imgSkill" src="https://cdn.freebiesupply.com/logos/large/2x/java-4-logo-png-transparent.png" alt="logo-Java">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Illustrator_CC_icon.png/492px-Illustrator_CC_icon.png" alt="logo-Illustrator">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/2/20/Photoshop_CC_icon.png" alt="logo-Photoshop">
            <img class="imgSkill" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Adobe_Premiere_Pro_Logo.svg/2048px-Adobe_Premiere_Pro_Logo.svg.png" alt="logo-Premiere">
            <img class="imgSkill" src="https://www.kindpng.com/picc/m/53-539760_scrum-logo-hd-png-download.png" alt="scrum">
            <img class="imgSkill" src="https://img2.freepng.es/20180425/ywe/kisspng-organization-canonical-link-element-industry-proje-career-growth-5ae1382f044de4.9187805315247094230176.jpg" alt="organizacion">
        </div>
        </div>
        </div>
