<div class="barra">
  <img src="../../../assets/img/APLogo.png" alt="logo Argentina Programa">



  <div class="redes">
    <a href="" class="barraLink"><i class="fa-regular fa-user"></i></a>


    <a class="barraLink" href="https://github.com/malenovejero">
      <img src="../../../assets/img/github.png" alt="github">
    </a>

    <a class="barraLink" href="https://www.linkedin.com/in/malen-ovejero-lanzavecchia-76a183126/">
      <img src="../../../assets/img/linkedin.png" alt="linkedin">
    </a>
  </div>
</div>



